* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(63, 59, 73);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* HEADER */
header {
    width: 100%;
    background-color: rgb(13, 13, 17);
    padding: 2vh 0;
    box-shadow: 0 0 1vw 0.05vw black;
}

nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

#nav-img-area {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.nav-img {
    height: 5vh;
    width: 5vh;
    margin-left: 2vw;
}

#nav-name {
    color: whitesmoke;
    font-size: 2rem;
    font-family: monospace;
    font-weight: 500;
}

/* FOOTER */
footer {
    background-color: rgb(13, 13, 17);
    box-shadow: 0 0 1vw 0.05vw black;
}

.footer-img {
    height: 6vh;
    width: 6vh;
}

#h1-footer {
    color: whitesmoke;
    font-size: 2rem;
    font-family: monospace;
    font-weight: 500;
    padding-bottom: 2vh;
}

#footer-area {
    text-align: center;
    padding: 5vh 2vw;
}

.footer-a-img {
    padding-inline: 1.5vw;
}

/* BANNER */
#banner {
    padding: 10vh 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#banner-txt-area {
    flex: 1 1 300px;
    padding: 2vh;
    text-align: center;
}

#h1-banner {
    font-size: 2rem;
    padding-bottom: 1vh;
    color: rgb(153, 231, 35);
    font-family: monospace;
    font-weight: 500;
}

#h2-banner {
    font-size: 1.5rem;
    font-family: monospace;
    color: whitesmoke;
    font-weight: 500;
}

#img-banner {
    flex: 1 1 250px;
    max-width: 250px;
    height: auto;
    margin: 2vh auto;
    border-radius: 50%;
    border: solid 0.5vw whitesmoke;
    box-shadow: 0 0 1vw 0.05vw black;
}

/* TEXT SECTIONS */
section {
    padding: 5vh 10%;
}

.h1-txt {
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: monospace;
    font-weight: 500;
    border-bottom: solid 0.2vw whitesmoke;
    margin-bottom: 4vh;
}

.li-main, .li-father {
    list-style: circle;
    font-size: 1rem;
    font-family: monospace;
    padding-bottom: 2vh;
}

.li-father {
    color: greenyellow;
}

.text-area ul {
    padding-bottom: 5vh;
}

/* IMAGENS */
.img-li, .img-li-combo {
    width: 100%;
    height: auto;
    border: solid 0.4vw whitesmoke;
    box-shadow: 0 0 1vw 0.05vw black;
    margin-bottom: 3vh;
}

.combo-img {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.img-li-combo {
    flex: 1 1 45%;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    #h1-banner {
        font-size: 1.8rem;
    }
    #h2-banner {
        font-size: 1.2rem;
    }
    .h1-txt {
        font-size: 1.2rem;
    }
    .li-main, .li-father {
        font-size: 0.95rem;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    #nav-img-area {
        margin: 1vh 0 0 0;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    #h1-banner {
        font-size: 1.5rem;
    }
    #h2-banner {
        font-size: 1rem;
    }
    .h1-txt {
        font-size: 1rem;
    }
    .li-main, .li-father {
        font-size: 0.9rem;
    }
    #img-banner {
        max-width: 180px;
    }
}
